$primary: #3292a6;

body{       
        background: black;
    
 }
 @media (max-width: 767px) {

    #showboxes{
      margin:0px;
    }
  }
.navbar{
    box-shadow: 2px 2px 5px $primary;
    background: black;
    opacity: 0.9;
    .nav-item{
        font-size: 1.1rem;
        padding-right: 20px;
    }    
    .nav-item:last-child{
        padding-right: 0;
    }
}

#showboxes{
    background: #22252A;
}

.circle-img{
    width: 140px;
    height: 120px;
}

#about{
    background: black;
    .card{
        background: #22252A;
    }
    .card-header{
        box-shadow: 0 8px 6px -6px black;
    }
    img{
        margin-top: -60px;
    }
    .card:hover{
        background: $primary;
        color: #ffffff;
        .fa{
            color: #ffffff;
        }
    }
    .fa{
        font-size: 25px;
    }
}
#asset{
    background: black;
    .card{
        background: #22252A;
    }
    .card-header{
        box-shadow: 0 8px 6px -6px black;
    }
}
#memory{
    background: black;
    .card{
        background: #22252A;
    }
    
}
#contact{
    background: black;
}
#footer-main{
    background: black;
}